.navbar {
    height: 8vh;
    width: 100%;
    background-color: #ccc;
}

.navbar__container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    height: 8vh;
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    padding: 0 8px;
    margin: 12px 0;
    color: #000;
}
